<div *ngIf="allPriceSchedules && allPriceSchedules.length > 0" class="pricing">
  <ul class="list-group">
    <li *ngFor="let ps of allPriceSchedules" class="list-group-item pb-0">
      {{ ps.Name }}
      <ul *ngIf="ps" class="pl-0">
        <li *ngFor="let pb of ps.PriceBreaks" class="ml-3">
          Quantity: {{ pb.Quantity }} Price: {{ pb.Price | currency }}
        </li>
        <price-break-editor
    [currency]="supplierCurrency"
    [priceSchedule]="ps"
    [isRequired]="isRequired"
    (priceScheduleUpdated)="updateSupplierPriceSchedule($event)"
  >
  </price-break-editor>
      </ul>
    </li>
  </ul>
     <!-- <action-menu-component
        [areChanges]="false"
        [allowDiscard]="true"
        [disableSave]="!areChanges"
        (executeSaveAction)="handleSaveBuyerPricing()"
        (executeDiscardAction)="handleDiscardBuyerPricingChanges()"
      ></action-menu-component> -->
</div>

<!-- START OF PRICING EDIT -->

<!-- <div  class="container-fluid mb-5">
  <h4 class="mt-3" translate>
    {{'ADMIN.PRODUCT_EDIT.PRICE_BREAKS'}}
  </h4>
  <span *ngIf="!isRequired">- Optional</span>
  <span class="required-field" *ngIf="isRequired">* required fields</span>

  
  <price-break-editor
    [currency]="supplierCurrency"
    [priceSchedule]="allPriceSchedules"
    [variantCount]="superProduct?.Variants?.length"
    [specCount]="superProduct?.Specs?.length"
    [isRequired]="isRequired"
    (priceScheduleUpdated)="updateSupplierPriceSchedule($event)"
  >
  </price-break-editor>
  <div
    *ngIf="isSellerUser"
    class="row pt-3 mt-3 bg-white shadow-sm card-highlight-border w-100 pl-3"
  >
    <div class="w-100">
      <h4 translate>ADMIN.PRODUCT_EDIT.BUYER_PRICING</h4>
      <p class="font-italic" translate>
        ADMIN.PRODUCT_EDIT.BUYER_PRICING_INSTRUCTION
      </p>

      <span>
        <div
          ngbDropdown
          *ngIf="buyers.length && selectedSuperHSBuyer"
          class="btn-block"
        >
          <button
            class="resource-btn btn btn-outline-dark"
            id="buyerSelectDropdown"
            ngbDropdownToggle
          >
            {{ selectedSuperHSBuyer?.Buyer?.Name }}
          </button>
          <div ngbDropdownMenu aria-labelledby="buyer select dropdown">
            <button
              ngbDropdownItem
              *ngFor="let buyer of buyers"
              (click)="selectBuyer(buyer)"
            >
              <summary-resource-display-component
                [resource]="buyer"
                [resourceType]="'buyers'"
              >
              </summary-resource-display-component>
            </button>
          </div>
        </div>
      </span>
   
    </div>
  </div>
</div> -->
