<ng-container>
  <div class="page-container">
    <ocm-promo-modal></ocm-promo-modal>
    <!-- Featured products can be managed in the seller application -->
     <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
      <div class="btn-grid_v5" aria-label="Primary actions">
        <a href="https://shop.learning.sitecore.com/products?categoryID=sX1sWDBU10ms-xpYvxR2Qg" target="_blank">
          <button class="btn_v5 topbtn_v5">Instructor-led Training   <img src="https://www.sitecore.com/static/cta-arrow.svg" alt="Arrow" class="button-arrow-svg_v5"></button>
        </a>
        <a href="https://shop.learning.sitecore.com/products?categoryID=syrEgYN84EGx13pUWImMVA" target="_blank">
          <button class="btn_v5 topbtn_v5">Learning Subscriptions <img src="https://www.sitecore.com/static/cta-arrow.svg" alt="Arrow" class="button-arrow-svg_v5"></button>
        </a> 
        <a href="https://shop.learning.sitecore.com/products?categoryID=10PDa1ELmEyFe8rxt3Sn0A" target="_blank">
          <button class="btn_v5 topbtn_v5">Certification Bundles <img src="https://www.sitecore.com/static/cta-arrow.svg" alt="Arrow" class="button-arrow-svg_v5"></button>
        </a>
        <a href="https://shop.learning.sitecore.com/products?categoryID=bpfojxjpRU6BWfRkFe-TYg" target="_blank">
          <button class="btn_v5 topbtn_v5">Certification Exams <img src="https://www.sitecore.com/static/cta-arrow.svg" alt="Arrow" class="button-arrow-svg_v5"></button>
        </a>
      </div>
      <section class="resources-section_v5">
        <div class="resources-container_v5">
          <!-- Left Column -->
          <div class="resources-left_v5">
            <!--<h4 class="small-title_v5">Sitecore Learning Shop</h4>-->
            <h1 class='bigtext_v5'>
              Your Sitecore Learning Journey Starts Here
            </h1>     
            <p class="pagedesc_v5">Explore our learning catalog to find training designed for your role and the Sitecore products you use.  Build your skills, earn certifications and badges, and stay up to date with the latest product capabilities.</p>
            <br>
          </div>
        
        <!-- Right Column -->
        <div class="resources-right_v5">
            <img src="https://cdn5.dcbstatic.com/files/l/e/learningsitecore_docebosaas_com/userfiles/419966/oc_learningshophomepage.jpg" alt="OC Home"> 
        </div>

        </div>

      </section>
     
      <section class="resources-section_v5">
<p class="pagedesc_v5">
  Select your role and Sitecore product to view our available offerings.
</p>
      <div class="services-cards_v5">
            <!-- Card 01 XM Cloud-->    
        <div class="services-cards_v5">
          <div class="card-wrapper_v5"> 
              <!-- Hidden radios --> 
              <input type="radio" name="tab" id="tab-front1" checked> 
              <input type="radio" name="tab" id="tab-dev1"> 
              <input type="radio" name="tab" id="tab-bus1"> 
              <input type="radio" name="tab" id="tab-admin1"> 
        
              <!-- Card Front --> 
              <div class="card-front_v5"> 
                <h3 class="title_v5"></h3> 
                <div class="card__header_v5"> 
                  <img src="https://cdn5.dcbstatic.com/files/l/e/learningsitecore_docebosaas_com/userfiles/419966/sitecoreai__2_.png" alt="Card Logo"> 
                </div> 
                          
              <h4 class="title_v5"> SitecoreAI</h4> 
                <div class="menu_v5"> 
                  <label for="tab-dev1">Developer</label> 
                  <label for="tab-bus1">Marketer</label> 
                  <!-- <label for="tab-con1">Technical Users/ Content Authors</label> --> 
                </div> 
              </div> 
        
              <!-- SitecoreAI CMS Developer Panel --> 
              <div class="card-panel_v5 panel-dev_v5"> 
                <div class="pill-row_v5"> 
                  <span class="pill_v5">SitecoreAI</span> 
                  <span class="pill_v5">Developer</span> 
                </div> 
                <a href="https://shop.learning.sitecore.com/products/4c93c6b4-431d-7c" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5"> 
                    ✓ SitecoreAI CMS for Developers Certification Bundle</label></a> 
                <a href="https://shop.learning.sitecore.com/products/1243" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5"> 
                    ✓ SitecoreAI CMS for Developers ILT </label></a> 
                <a href="https://shop.learning.sitecore.com/products/01tHu00000QPOa9IAH" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5"> 
                  ✓ SitecoreAI CMS Developer Certification Exam</label></a> 
                <a href="https://shop.learning.sitecore.com/products/01tUj0000032oQPIAY" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
               ✓ SitecoreAI CMS Developer Certification Exam (JP)</label></a>
                <label for="tab-front1" class="back-circle_v5">←</label> 
              </div> 
        
              <!-- SitecoreAI Marketers Panel --> 
              <div class="card-panel_v5 panel-bus_v5"> 
                <div class="pill-row_v5"> 
                  <span class="pill_v5">SitecoreAI</span> 
                  <span class="pill_v5">Marketer</span> 
                </div> 
                <a href="https://shop.learning.sitecore.com/products/01tVD0000065uWHYAY" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">               
                    ✓ SitecoreAI CMS for Marketers Learning Subscription</label></a> 
                <a href="https://shop.learning.sitecore.com/products/1244" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5"> 
                  ✓ SitecoreAI CMS for Marketers ILT</label></a>
                  <!-- <a href="https://shop.learning.sitecore.com/products/1626" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
              ✓ SitecoreAI Agent Builder Workshop ILT</label></a>  -->
                <label for="tab-front1" class="back-circle_v5">←</label> 
              </div>     
            </div> 
            <!-- Card 02 XM/XP-->
            <div class="card-wrapper_v5">
              <input type="radio" name="tab" id="tab-front2" checked>
              <input type="radio" name="tab" id="tab-dev2">
              <input type="radio" name="tab" id="tab-bus2">
              <input type="radio" name="tab" id="tab-admin2">
              <div class="card-front_v5">   
                <div class="card__header_v5">
                  <img src="https://cdn5.dcbstatic.com/files/l/e/learningsitecore_docebosaas_com/userfiles/419966/productlogos/xp__2_.png" alt="Card Logo">
                </div>
                <h4 class="title_v5">XM/XP</h4>
                <div class="menu_v5">
                  <label for="tab-dev2">Developer</label>
                  <label for="tab-bus2">Administrator</label>
                  <label for="tab-admin2">Content Authors/Marketers</label>
                </div>
              </div>

              <!-- XM/XP Developer Panel -->
              <div class="card-panel_v5 panel-dev_v5">
                <div class="pill-row_v5">
                  <span class="pill_v5">XM/XP</span>
                  <span class="pill_v5">Developer</span>
                </div>
                <a href="https://shop.learning.sitecore.com/products/ObvTjbMvbEiEF56w-PQFBA" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ XM/XP Developer eLearning and VILT Certification Bundle </label></a>
                <a href="https://shop.learning.sitecore.com/products/bb21d39f-8a39-d1" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ XM/XP Developer eLearning Certification Bundle </label></a>
                <a href="https://shop.learning.sitecore.com/products/90" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ XM/XP Developer Fundamentals ILT </label></a>
                <a href="https://shop.learning.sitecore.com/products/1216" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                    ✓ XM/XP Headless Services Dev. ILT </label></a>
                <a href="https://shop.learning.sitecore.com/products/977" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ XM/XP Solution Developer ILT </label></a>
                <a href="https://shop.learning.sitecore.com/products/01t3m00000X1XqkAAF" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ Sitecore 10 .NET Developer Certification Exam </label></a>
                <label for="tab-front2" class="back-circle_v6">←</label>
              </div>

              <!-- XM/XP Administrator Panel -->
              <div class="card-panel_v5 panel-bus_v5">
                <div class="pill-row_v5">
                  <span class="pill_v5">XM/XP</span>
                  <span class="pill_v5">Administrator</span>
                </div>
                <a href="https://shop.learning.sitecore.com/products/nhGCJqFT3E2DrHWRQarvPA" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ Sitecore XM/XP System Administrator eLearning Certification Bundle</label></a>
                <a href="https://shop.learning.sitecore.com/products/01t3m00000X1errAAB" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ Sitecore 10 System Administrator Certification Exam</label></a>
                <label for="tab-front2" class="back-circle_v5">←</label>
              </div>

              <!-- Marketers -->
              <div class="card-panel_v5 panel-admin_v5">
                <div class="pill-row_v5">
                  <span class="pill_v5">XM/XP</span>
                  <span class="pill_v5">Content Authors</span>
                </div>
                <a href="https://shop.learning.sitecore.com/products/01tVD00000BI6obYAD" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ Sitecore XM/XP for Content Authors Learning Subscription</label></a>
                <a href="https://shop.learning.sitecore.com/products/94" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ Sitecore XM/XP for Content Authors ILT</label></a>
                <br>
                <div class="pill-row_v5">
                  <span class="pill_v5">XM/XP</span>
                  <span class="pill_v5">Marketer</span>
                </div>
                <a href="https://shop.learning.sitecore.com/products/01uUj000003iAJ5IAM" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ Sitecore XP for Marketers Learning Subscription </label></a>
                <a href="https://shop.learning.sitecore.com/products/413" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                  ✓ Sitecore XP for Marketers ILT</label></a>
                <label for="tab-front2" class="back-circle_v7">←</label>
                    </div>
                  </div>
                
          <!-- Card 04 Content Hub-->
          <div class="card-wrapper_v5">
            <!-- Hidden radios -->
            <input type="radio" name="tab" id="tab-front4" checked>
            <input type="radio" name="tab" id="tab-dev4">
            <input type="radio" name="tab" id="tab-bus4">
            <input type="radio" name="tab" id="tab-admin4">
            <!-- Card Front -->
            <div class="card-front_v5">
              
              <div class="card__header_v5">
                <img src="https://cdn5.dcbstatic.com/files/l/e/learningsitecore_docebosaas_com/userfiles/419966/productlogos/ch__2_.png" alt="Card Logo">
              </div>
              <h4 class="title_v5">Content Hub</h4>
              <div class="menu_v5">
                <label for="tab-dev4">Developer</label>            
                <label for="tab-admin4">Administrator</label>
                <label for="tab-bus4">Business User</label>
              </div>
            </div>
            <!-- Developer Back Panel -->
            <div class="card-panel_v5 panel-dev_v5">
              <div class="pill-row_v5">
                <span class="pill_v5">Content Hub</span>
                <span class="pill_v5">Developer</span>
              </div>
              <a href="https://shop.learning.sitecore.com/products/e594246e-5c10-45" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                ✓ Content Hub Developer Certification Bundle</label></a>
              <a href="https://shop.learning.sitecore.com/products/qKAiTD2dyUilKUNH91kQTA" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
              ✓ Content Hub Developer ILT</label></a>
              <a href="https://shop.learning.sitecore.com/products/1210" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                ✓ Content Hub: DAM Basics ILT</label></a>
              <a href="https://shop.learning.sitecore.com/products/01t3m00000SSsK6AAL" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                ✓ Content Hub Developer Certification Exam</label></a>
              <label for="tab-front4" class="back-circle_v5">←</label>
            </div>
            <!-- Business User Back Panel -->
            <div class="card-panel_v5 panel-bus_v5">
              <div class="pill-row_v5">
                <span class="pill_v5">Content Hub</span>
                <span class="pill_v5">Business User</span>
              </div>
              <a href="https://shop.learning.sitecore.com/products/01uUj000003iAInIAM" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                ✓ Sitecore Content Hub for Business Users Learning Subscription</label></a>
              <label for="tab-front4" class="back-circle_v5">←</label>
            </div>
            <!-- Administrator Back Panel -->
            <div class="card-panel_v5 panel-admin_v5">
              <div class="pill-row_v5">
                <span class="pill_v5">Content Hub</span>
                <span class="pill_v5">Administrator</span>
              </div>
              <a href="https://shop.learning.sitecore.com/products/5f80f662-eae1-4a" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                ✓ Content Hub Administrator Certification Bundle</label></a>
              <a href="https://shop.learning.sitecore.com/products/mD_ppS7LpU2lFQ2N6G-eRg" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                ✓ Content Hub Administrator ILT</label></a>
              <a href="https://shop.learning.sitecore.com/products/01t3m00000SSsK7AAL" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                ✓ Content Hub Administrator Certification Exam</label></a>
              <label for="tab-front4" class="back-circle_v5">←</label>
            </div>
          </div>
          <!-- Card 06 OC-->
          <div class="card-wrapper_v5">
            <!-- Hidden radios -->
            <input type="radio" name="tab" id="tab-front6" checked>
            <input type="radio" name="tab" id="tab-dev6">
            <input type="radio" name="tab" id="tab-bus6">
            <input type="radio" name="tab" id="tab-admin6">

            <!-- Card Front -->
            <div class="card-front_v5">
              
              <div class="card__header_v5">
                <img src="https://cdn5.dcbstatic.com/files/l/e/learningsitecore_docebosaas_com/userfiles/419966/productlogos/oc.png" alt="Card Logo">
              </div>
              <h4 class="title_v5">OrderCloud</h4>
              <div class="menu_v5">
                <label for="tab-dev6">Developer</label>
              </div>
            </div>

            <!-- Developer Back Panel -->
            <div class="card-panel_v5 panel-dev_v5">
              <div class="pill-row_v5">
                <span class="pill_v5">OrderCloud</span>
                <span class="pill_v5">Developer</span>
              </div>
              <a href="https://shop.learning.sitecore.com/products/01t3m00000X1XqmAAF" target="_blank" style="text-decoration: none; color: inherit;"><label class="link-label_v5">
                ✓ Sitecore OrderCloud Certification Exam</label></a>          
              <label for="tab-front6" class="back-circle_v5">←</label>
            </div>

            <!-- Business User Back Panel -->
            <div class="card-panel_v5 panel-bus_v5">
              <div class="pill-row_v5">
                </div>
            </div>

            <!-- Administrator Back Panel -->
            <div class="card-panel_v5 panel-admin_v5">
              <div class="pill-row_v5">
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- <ocm-product-carousel
      *ngIf="featuredProducts?.length"
      [displayTitle]="'Featured Products'"
      [products]="featuredProducts"
    >
    </ocm-product-carousel> -->
  </div>
</ng-container>